
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navbar -->
    <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">WELCOME</li>
                    <li><a href="~/Tuotes">Products</a></li> 
                    <li><a href="~/Tuotes/Create">Add</a></li>
                </ul>
            </div>

            <div class="top-bar-right">
                
                <ul class="menu">
                    <li><a href="~/Home/Index">Home</a></li>
                </ul>
            </div>
    </div>

    <!-- Container -->

    <div class="container body-content">
        @RenderBody()

        <!-- Footer -->
        <hr />
        <footer class="panel-footer">
            <p>&copy; @DateTime.Now.Year - Kristiina Tarkkala</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @RenderSection("scripts", required: false)
</body>
</html>
